:root {
  --footer-height: 300px;
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.navigationItems {
  position: relative;
  max-width: var(--content-max-width);
  width: 100%;
  margin: 0 24px;

  display: flex;
  justify-content: flex-end;
}

.navigationItems a {
  padding: 0 2rem;
}

.contentContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - var(--footer-height));
}

.content {
  max-width: var(--content-max-width);
  width: 100%;
  margin: 0 24px;
  word-break: break-word;
}

@media screen and (max-width: 576px) {
  .content {
    margin: 0;
    padding: 0 24px;
  }
}

@keyframes moveTiles {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50rem 50rem;
  }
}

.footer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  background-image: url('../images/lavatile.png');
  background-size: 50rem;
  image-rendering: pixelated;
  background-repeat: repeat;
  height: var(--footer-height);
  animation: moveTiles 15s linear infinite;
}

.footerContent {
  font-size: 0.9em;
  max-width: var(--content-max-width);
  width: 100%;
  margin: 2rem 24px;
  padding: 3rem 0;
  color: white;
}

.footerText {
  background-color: var(--color-main);
  padding: 0 2rem;
}

.footerContent a {
  color: white;
}

.footerContent a:hover {
  color: black;
}
