:root {
  --footer-height: 300px;
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.navigationItems {
  position: relative;
  max-width: var(--content-max-width);
  width: 100%;
  margin: 0 24px;

  display: flex;
  justify-content: flex-end;
}

.heading {
  font-weight: normal;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.1em;
  font-family: var(--font-family-heading);
}

@media screen and (max-width: 576px) {
  .heading {
    display: none;
  }
}

.navigationItems a {
  padding: 0 2rem;
}

.contentContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - var(--footer-height));
}

.content {
  max-width: var(--content-max-width);
  width: 100%;
  margin: 0 24px;
  word-break: break-word;
}

.footer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  background-color: var(--milligram-gray);
  height: var(--footer-height);
}

.footerContent {
  font-size: 0.9em;
  max-width: var(--content-max-width);
  width: 100%;
  margin: 2rem 24px;
  padding: 3rem 0;
  color: white;
}

.footerContent a {
  color: white;
}

.footerContent a:hover {
  color: var(--color-secondary);
}
