.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;

  margin-bottom: 5rem;
}

@media screen and (max-width: 576px) {
  .info {
    margin-bottom: 3rem;
  }
}

.info > :first-child {
  flex-grow: 0;
}

.info > :nth-child(2) {
  width: 50%;
  flex-grow: 2;
  margin: 0;
}

.socialIcons {
  margin: .88rem 0;
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.socialIcon {
  width: 3rem !important;
  height: 3rem !important;
}
